/* .wrapper {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
}
.card {
  display: flex;
  flex: 1;
  border-bottom: 1px solid lightgray;
  max-width: 50%;
  padding: 20px;
} */
